body{
  font-family:'Segoe UI',sans-serif;
  background:linear-gradient(135deg,#e3f2fd,#f5f7fa);
  text-align:center;
}

h2{
  color:#003366;
}

input,select{
  padding:12px;
  margin:10px;
  width:260px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  padding:12px 20px;
  background:#0057b8;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:15px;
}

button:hover{
  background:#003f8a;
}

table{
  margin:auto;
  margin-top:30px;
  border-collapse:collapse;
  background:white;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

th{
  background:#0057b8;
  color:white;
  padding:12px;
}

td{
  padding:10px;
  border:1px solid #ddd;
}


